<template lang="pug">
  v-app hello world
</template>

<script>
/**
 * index
 */

/* Node modules */

/* Third-party modules */

/* Files */

export default {
  name: 'index',
};
</script>

<style lang="scss" scoped>

</style>
